<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.org.ieem">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:configChanges="screenSize|orientation"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="mx.org.ieem.activity.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.login.LoginActivity" />
        <activity android:name=".activity.login.RecovPassActivity" />
        <activity android:name=".activity.main.LoadPageActivity" />
        <activity android:name=".activity.ciudadanometro.CalendarioAplicacionActivity" />
        <activity android:name=".activity.ciudadanometro.CiudadanometroActivity" />
        <activity android:name=".activity.ciudadanometro.PrimeraCiudadanoActivity" android:configChanges="screenSize|orientation"/>
        <activity android:name=".activity.ciudadanometro.CuartaCiudadanoActivity" />
        <activity android:name=".activity.ciudadanometro.SegundaCiudadanoActivity" />
        <activity android:name=".activity.ciudadanometro.TerceraCiudadanoActivity" />
        <activity android:name=".activity.encuestas.EncuestasActivity" />
        <activity android:name=".activity.encuestas.InfoEncuestaActivity" />
        <activity android:name=".activity.encuestas.MesEncuestaActivity" />
        <activity android:name=".activity.encuestas.PreguntasEncuestaActivity" android:configChanges="screenSize|orientation"/>
        <activity android:name=".activity.main.SelectActivity" />
        <activity android:name=".activity.eventos.EventosActivity" />
    </application>

</manifest>